button {
    border: none;
    padding: 2em;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

#increment-btn {
    background-color: darkred;
}

#decrement-btn {
    background-color: darkgreen;
}

#save-btn {
    background-color: skyblue;
}